# Utils
wheel
twine
python-dotenv
tqdm
# Scrapping
yfinance
html5lib
bs4
# Data
pandas==2.1
numpy
# Database
git+https://github.com/nono-london/postgres_helpers.git

# setup
setuptools

# commands for setup
# python setup.py bdist_wheel
# install wheel commands
# pip install /path/to/wheelfile.whl

# test commands:
# python setup.py pytest
pytest
pytest-runner

pyinstaller; sys_platform == 'win32'


# python -m venv .venv
# python.exe -m pip install --upgrade pip

# pip install -r requirements.txt
# pip install -r requirements.txt --upgrade
